*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}
body {
  background-color: #008dff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    color: #010120;
}

.wrapper {
  background-color: #ffffff;
  width: 45%;
  min-width: 400px;
  padding: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 8px;
}

.output {
  width: 100%;
  min-height: 250px;
  padding: 20px 0;
  overflow: hidden;
  background: #eef3f8;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

#blob {
  height: 250px;
  width: 250px;
  background: linear-gradient(#44a2f0, #025eaa);
  box-shadow: 15px 20px 30px rgba(0, 0, 0, 0.15)
}

.dimensions{
    display: flex;
    width: 100%;
    justify-content:space-around;
    margin: 20px 0 40px 0;

}
label{
    font-weight: 500;
}
input[type="number"]{ 
    height: 40px;
    width: 80px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #a0a0b0;
    border-radius: 3px;
}

input[type="number"]:focus{
    background-color: #f1f5fa;
    border-radius: #025eaa;
    color: #025eaa;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
 appearance: none;
  margin: 0;
}
.sliders{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

input[type='text']{
    width: 82%;
    margin-top: 50px;
    font-size: 12px;
    padding:10px;
    border:none;
    background-color: #f1eff9;
    border-radius: 3px;
}

button{
    width:12%;
    padding:  10px 0px;
    margin-left: 4%;
    background-color: #0075ff;
    border:none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}
.copy__text{
    display: none;
    margin-top: 5px;
    font-size: 16px;
    padding: 5px;
    color: rgb(228, 21, 21);
    width: 80%;
    
}