*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  background: url('mainBcg.jpg') no-repeat center center/cover;
}
.container {
    height: 100vh;
    width: 100%;    
}

.main {
    min-height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;
}

.box{
    height:420px;
    width:50%;
    border:1px solid #fff;
    box-shadow: -2px 2px 8px 2px;
    border-radius:5px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-around;

}

.text{
    text-align: center;
    font-size:35px ;
    color: #fff;
    font-weight: 800;
    font-family: 'Roboto' sans-serif;
}

.counter{
    text-align: center;
    font-size: 150px;
    color: #333333;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    
}
.lower{
    padding:1rem 1rem;
    background-color:#0D2C54;
    color:#fff;
    text-transform: uppercase;
    border:none;
    box-shadow:-2px 2px 4px 1px black;
}
.adder{
    padding:1rem 1rem;
    background-color:#0D2C54;
    color:#fff;
    text-transform: uppercase;
    border:none;
    box-shadow:-2px 2px 4px 1px black;
}