* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #08283d;
}

.container {
  position: relative;
  width: 400px;
  height: 105px;
  overflow: hidden;
  border-radius: 18px;
  background: #fff;
  font-family: "Roboto", sans-serif;
  transition: 0.6s ease-out;
}
